/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 110%;
    width: 90%;
    z-index: 2;
    display: block;
    margin-top: 15%;
    margin-left: 8%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 80%;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#floating-panel{
    visibility: hidden;
}

#startingScreen{
    visibility: visible;
}

#search{
    position: absolute;
    width: 400px;
    height: 45px;
    left: 130px;
    margin-top: 50%;
    z-index: 999999;
    background: #5A9D42;
    font-family: 'Montserrat', sans-serif;
    border-radius: 56px;
}

#search:hover{
    background: rgb(65, 112, 48);
}

#input{
    position: absolute;
    width: 400px;
    height: 45px;
    left: 130px;
    z-index: 99999;
    margin-top: 45%;
}

#startScreen{
    visibility: visible;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#mainTitle{
  position: absolute;
  width: 1683px;
  height: 117px;
  margin-left: -11%;
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #1A1A1A;
}

#mainSubtitle{
  position: absolute;
  width: 1155px;
  height: 58px;
  margin-left: 8.5%;
  margin-top: 8%;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: -0.005em;
  color: #5E5E5E;
}

h2 {
    font-size: 22px;
    margin: 0 0 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 271px;
    width: 200px;
    overflow-y: scroll;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#subtitle{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 130px;
    top: 350px;
    z-index: 999999;

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.005em;

    color: #5E5E5E;
}

#title{
    position: absolute;
    width: 700px;
    height: 300px;
    left: 120px;
    margin-top: 5%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    z-index: 999999;

    letter-spacing: -0.005em;

    color: #1A1A1A;
}

li:nth-child(odd) {
    background-color: #fcfcfc;
}

#more {
    width: 100%;
    margin: 5px 0 0 0;
}

#right-panel {
    display: none;
}

#dmv:focus, #grocery:focus, #hospital:focus, #clothing:focus, #transportation:focus, #postOffice:focus, #save:focus{
  background-color: rgba(97,202,61, 0.5);
}

#dmv, #grocery, #hospital, #clothing, #transportation, #postOffice, #save{
  height: 60px;
  width: 60px;
  background-color: transparent;
  border:none;
  margin-left: 1.5%;
  align-content: center;
  background-repeat:no-repeat;
  position: absolute;
  outline:none;
  border-radius: 12px;
  padding:3px;
}

#dmv{
  margin-top: -540px;
}

#grocery{
  margin-top: -460px;
}

#hospital{
  margin-top: -380px;
  
}

#clothing{
  margin-top: -300px;
}

#transportation{
  margin-top: -220px;
}

#postOffice{
  margin-top: -140px;
}

#line{
  margin-top: -75px;
  margin-left: 7px;
  position: absolute;
  outline:none;
}

#save{
  margin-top: -60px;
}

#locationTag{
  margin-left: 40%;
  margin-top: 12%;
  width: 300px;
  height: 45px;
  position: absolute;
}